<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo"><a href="{{ url_for('home') }}">CIGMA</a></h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#">All Sightlines</a>
      <a href="#">All Absorbers</a>
      <a href="#">Search</a>
    </div>
    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Navigation Panel [stub]</span>
    
    <div id="mainpg" class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
  
  
  <script>
  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
  function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("mainpg").style.marginLeft = "250px";
  }
  
  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
  function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("mainpg").style.marginLeft = "0";
  }
  </script>
</html>
